extends layout.pug

block content
    div.row.justify-content-center.mt-5
        div.col-6.p-5.bg-light.border
            h2.mb-5 Change Password
            div.mb-3.bg-danger #{error}
            div.mb-3.bg-success #{success}
            form#changePassword-frm(action="/settings/password" method="post" )
                div.mb-3
                    label.form-label(for="currentPassword") Current Password
                    input#current-password-ipt.form-control(type="password" name="currentPassword" value=title placeholder="Enter current password ...")
                    div#current-password-fdbErr.invalid-feedback
                div.mb-3
                    label.form-label(for="title") New Password
                    input#new-password-ipt.form-control(type="password" name="newPassword" value=title placeholder="Enter new password ...")
                    div#new-password-fdbErr.invalid-feedback
                div.mb-5
                    label.form-label(for="title") Verify New Password
                    input#new-password-ver-ipt.form-control(type="password" name="newPasswordVer" value=title placeholder="Re-Enter new password ...")
                    div#new-password-ver-fdbErr.invalid-feedback
                button#createPost-btn.btn.btn-primary(type="submit") Apply changes