mixin createPostsTemplate(posts)
    each post in posts
        a.post.p-4.list-group-item.list-group-item-action(data-id=`${post._id}`)
            div.row.text-muted
                small.col-4.mb-1= "Community: " + post.community.name
                small.col-4= "Posted by: " + post.postedBy.username
                small.col-4= post.createdAt
            div.mt-3.h5= post.title   
            div.mb-1= post.body
            div.row.mt-4.justify-content-between
                button.like-btn.btn.btn-outline-primary.col-3
                    i.fas.fa-thumbs-up.me-2
                    span= "Like | " + post.likedBies.length
                button.btn.btn-outline-primary.col-3
                    i.fas.fa-thumbs-down.me-2
                    span DisLike 
                button.btn.btn-outline-primary.col-3
                    i.fas.fa-comment.me-2
                    span Comment

mixin createCommunityTemplate(communities)
    each community in communities
        - var name = community.name;
        a.list-group-item.list-group-item-action(onClick="location.href=\"/communities/community/"+community._id+"\"")= name

mixin createWideCommunityTemplate(communities)
    each community in communities
        a.post.p-4.list-group-item
            div.row.text-black
                div.mt-2.h5=  "Community: " + community.name
            div.row.text-muted
                small.col-4.mb-1= "Created by: " + community.adminIds[0].username
            div.row.text-black
                div.mb-5= "Description: " + community.description
            div.row.mt-4
                button.btn.btn-outline-primary(onClick="location.href=\"/communities/community/"+community._id+"\"")
                    i.fas.fa-eye.me-2
                    span View



mixin createUsersTemplate(users)
    each user in users
        a.post.p-4.list-group-item
            div.row.text-black
                div.mt-2.h5=  "Username: " + user.username
            div.row.mt-4
                button.btn.btn-outline-primary(onClick="location.href=\"/users/user/"+user._id+"\"")
                    i.fas.fa-eye.me-2
                    span View


mixin createAdminsTemplate(users)
    each user in users
        a.list-group-item.list-group-item-action(onClick="location.href=\"/users/user/"+user._id+"\"", id=`admin-list-dynamic-${user._id}`)= user.username


